*{
    border: 0;
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(230, 59, 116);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{

    width: 100%;
    height: 100vh;
    border-radius: 80% 0% 0 80%;
    background-color: white;   
    float: right;
   

}
.name{
    text-align: left;
    padding-top: 10%;
    color:  rgb(95, 90, 90);
    margin-left: 20%;

}

.frame{
    border-color: black;
    border-style: solid;
    height: 70%;
    width: 55%;
    background-color:white;
  float: right;
  margin-top: 10%;

}
.frame h2{
 text-align: center;
}
.frame img{
    float: right;
    height: 80%;
    margin-top: 10%;
}
.text{
    height: 100%;
    width: 40%;
    background-color:white;
    float: right;
    
}
.frame ul{
text-align: center;
}
.frame ul li{
    display: inline;
    line-height: 52%;

    padding: 2% 2% 2% 2%;
    

}
.frame ul li a{
   text-decoration: none;
   background-color:  rgb(230, 59, 116);
   color: black;
   

}
.frame ul li a:hover{
    background-color: gray;
    color:rgb(230, 59, 116) ;
}
.top{
   height: 90%;
   width: 50px;
   display: flex;
   background-color: rgb(230, 59, 116) ;
   flex-flow: column;
   float: left;
}
.top img{
    height: 12%;
    width: 35px;
    margin-left: 15%;
    padding-top: 60%;
}


    


    
}